.selfie {
  width: 35%;
  float: right;
  box-sizing: border-box;
  border: 5px solid orangered;
  margin: 10px;
}

.kitties {
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin: auto;
}

body {
  background-color: rgb(199, 236, 236);
}

em {
  color: rgb(0, 92, 72);
}

.intro {
  box-sizing: border-box;
}

.intro h1 {
  font-family: serif;
  font-weight: bolder;
  font-size: 69px;
  line-height: 69px;
  color: rgb(0, 92, 72);
}

.intro p {
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}

.about {
  box-sizing: border-box;
}

.about h6 {
  font-style: italic;
  font-family: serif;
  font-weight: bold;
  color: rgb(90, 90, 90);
}

.project-major {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  background-color: rgb(199, 236, 202);
  border: 2px solid rgb(255, 173, 164);
  text-align: center;
}

.project-a {
  box-sizing: border-box;
  text-align: left;
}

.project-b {
  box-sizing: border-box;
  text-align: left;
}

.project-c {
  box-sizing: border-box;
  text-align: left;
}

.project-minor {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  border: 2px solid salmon;
  background-color: rgb(217, 236, 199);}

.project-minor li {
  text-decoration: underline;
}

.skills-background {
  box-sizing: border-box;
}

.skills {
  box-sizing: border-box;
}

.outro {
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(199, 215, 236);
}

.important {
  font-family: serif;
  font-weight: bold;
}