.selfie {
  width: 35%;
  float: right;
  box-sizing: border-box;
  border: 5px solid orangered;
  margin: 10px;
}

.kitties {
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin: auto;
}

.intro {

}

.about {

}

.project-a {

}

.project-b {

}

.project-c {

}

.project-minor {

}

.skills-background {

}

.skills {

}

.outro {

}

.important {
  
}