.selfie {
  width: 30%;
  float: right;
  box-sizing: border-box;
  border: 2px solid rgba(195, 0, 255, 0.281);
  margin: 10px;
}

.kitties {
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin: auto;
}

body {
  background-color: rgba(199, 236, 236, 0.281);
}

em {
  color: rgb(0, 92, 72);
  font-weight: bold;
}

.card-title {
  text-decoration: underline;
  font-style: italic;
  color: rgb(0, 66, 92);
  text-align: center;
}

.jumbotron {
  background-color: rgba(199, 236, 225, 0.678);
}

.intro h1 {
  font-family: serif;
  font-weight: bolder;
  font-size: 69px;
  line-height: 69px;
  color: rgb(0, 92, 72);
}

.intro p {
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}

.about {
  box-sizing: border-box;
}

.about h6 {
  font-style: italic;
  font-family: serif;
  font-weight: bold;
  color: rgb(90, 90, 90);
}

.project-major {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  background-color: rgba(199, 236, 202, 0.493);
  border: 1px solid rgba(255, 173, 164, 0.514);
  text-align: center;
}

.project-a .card-body {
  box-sizing: border-box;
  text-align: left;
  background-color: rgba(110, 83, 231, 0.11);
  border: 1px solid rgba(110, 83, 231, 0.315);
}

.project-b .card-body {
  box-sizing: border-box;
  text-align: left;
  background-color: rgba(146, 240, 83, 0.116);
  border: 1px solid rgba(146, 240, 83, 0.247);
}

.project-c .card-body {
  box-sizing: border-box;
  text-align: left;
  background-color: rgba(44, 240, 230, 0.082);
  border: 1px solid rgba(44, 240, 230, 0.185);
}

.other-info {
  box-sizing: border-box;
  background-color: rgba(199, 236, 202, 0.493);
  border: 1px solid rgba(255, 173, 164, 0.514);
  padding: 5px;
  margin: 5px;
}

.project-minor .card-body {
  background-color: rgba(236, 220, 199, 0.493);
  border: 1px solid rgba(228, 163, 79, 0.493);
}

.project-minor li {
  text-decoration: underline;
  font-style: italic;
}

.skills-background .card-body {
  background-color: rgba(233, 199, 236, 0.342);
  border: 1px solid rgba(224, 98, 235, 0.493);
}

.skills .card-body {
  background-color: rgba(236, 199, 199, 0.493);
  border: 1px solid rgba(228, 34, 34, 0.178);
}

.outro {
  box-sizing: border-box;
  text-align: center;
}

.important {
  font-family: serif;
  font-weight: bold;
}